<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to use</title>
</head>
<body>
    <h2>Here are some guidelines to get you started</h2>
    <h4>
        <ul>
            <li>Select the Choose file button</li>
            <li>Now from the popup select the image</li>
            <li>Now select the operation you want to perform from the dropdown list</li>
            <li>Click Convert</li>
            <li>Upon success, a flash message will appear on the top. Click here</li>
        </ul>
    </h4>
    <h4>There you go!</h4>
</body>
</html>